<div class="templatemo-content-container" style="padding: 10px;" >
  <div class="templatemo-content-widget white-bg" style="padding: 10px;">
    <div class="bottom-spacing">
      <!-- Button -->
      <div class="clear"></div>
    </div>
    <div class="float-left">
      <%= link_to "Thêm địa điểm", new_admin_restaurant_path, class: "templatemo-white-button" %>
    </div>
    <h2 class="text-uppercase margin-bottom-10 text-center">Nhà Hàng</h2>
    <div class="table-responsive">
    <%= render partial: 'shared/show_messages', locals: {flash: flash} %>
      <table id="myTable" class="table-hover table-bordered table-striped" style="text-align: center;">
        <thead>
          <tr class="text-center">
            <th width="5%">#</th>
            <th width="20%">Tên địa điểm</th>
            <th width="20%">Danh mục địa điểm</th>
            <th width="10%">Chủ địa điẻm</th>
            <th width="20%">Ðịa chỉ</th>
            <th width="10%">Hotline</th>
            <th width="3%">Trạng thái</th>
            <th width="3%">Nổi bật</th>
            <th width="9%">Chức năng</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'rest', collection: @restaurants %>
        </tbody>
      </table>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#myTable').DataTable();
    });
  </script>

  <script type="text/javascript">
    $( ".edit_active" ).on( "click", "img", function() {
     var data = $(this).attr("alt").split("-");
     $.ajax({
      url: '<%= set_active_admin_restaurants_path %>',
      type : 'POST',
      cache : false,
      data : {
        id : data[0],
        status : data[1]
      },
      success : function(data) {
      },
      error : function() {
        alert('Có l?i x?y ra');
      }
    });
     return false;
   });

    $( ".edit_highlight" ).on( "click", "img", function() {
     var data = $(this).attr("alt").split("-");
     $.ajax({
      url: '<%= set_highlight_admin_restaurants_path %>',
      type : 'POST',
      cache : false,
      data : {
        id : data[0],
        highlight : data[1]
      },
      success : function(data) {
      },
      error : function() {
        alert('Có l?i x?y ra');
      }
    });
     return false;
   });

  </script>
