<% unless flash.blank? %>
<div class="" id="notice">
  <% flash.each do |key, messages| %>
  <% if messages.is_a? Array %>
  <div class="alert alert-<%= key %>" id="<%= key %>">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <% messages.each do |message| %>
    <p><%= message %></p>
    <% end %>
  </div>
  <% else %>
  <div class="alert alert-<%= key %>">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <p style=""><%= messages %></p>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>
